@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 5px; 
}

.active {
   border: 1px solid white;
   padding: 4px 8px;
}

.products-scroll {
  max-height: calc(100vh - 312px);
}



  .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: rgb(180, 180, 180);
  }

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused {
  border-color: rgba(0, 0, 0, 0.23);
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root:hover{
  border-color: rgb(180, 180, 180);

}

.MuiFormControl-root{
  margin: 0px 20px;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0, 0.23);
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color: black;
}