@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 5px; 
}

.active {
   border: 1px solid white;
   padding: 4px 8px;
}

.products-scroll {
  max-height: calc(100vh - 310px);
}


select {
  appearance: none;
  -webkit-appearance: none;
  font-size: 15px;

  color: #000;
  cursor: pointer;
}

  select::-ms-expand {
    display: none;
  }
